Vagrant.configure("2") do |config|
  config.vm.provider "virtualbox" do |vb|
    vb.memory = "2048"
    vb.cpus = "2"
    # prevent 'ubuntu-bionic-18.04-cloudimg-console.log' file creation
    # and reduce boot time
    # https://groups.google.com/forum/#!topic/vagrant-up/eZljy-bddoI
    vb.customize ["modifyvm", :id, "--uartmode1", "file", File::NULL]
  end
end